export("APM")
export("CP")
export("CCA")
export("GCC")
export("TraceRatio")
export("gendata")
export("FA")
export("est_num")
S3method(print, GFA)
importFrom("stats", "rnorm")
importFrom("mvtnorm", "rmvnorm")
import(mvtnorm)
